// Breakpoints ----------------------------------------------------------------
$bp-sm: 600px;
$bp-md: 900px;
$bp-lg: 1200px;
$bp-xl: 1800px;

// Colors ---------------------------------------------------------------------
$color-accent: #CA91E2;
$color-accent-dark: #8C549D;
$color-primary: #EAF4FA;
$color-gray-light: #DCDCDC;
$color-gray-dark: #BEBEBE;