@use '../abstracts/variables' as var;

.Keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5rem;
    max-width: 100%;
    
    &__row-1 {
      grid-row: 1;
    }
    &__row-2 {
      grid-row: 2;
    }
    &__row-3 {
      grid-row: 3;
    }

    &__key {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var.$color-gray-light;
      padding: 1rem;
      border-radius: .5rem;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        background-color: var.$color-gray-dark;
      }

      &--used, &--used:hover, &--used:active {
        background-color: var.$color-primary;
        color: var.$color-primary;
        cursor: default;
      }

      &--wrong, &--wrong:hover, &--wrong:active {
        background-color: var.$color-heart-pink;
        color: black;
        cursor: default;
      }
    }
  }